---
# Setting the mpi implementation
# msmpi is not in the global pinning
# on macos, mpich MPI_Finalize hangs for all versions > 4.0.3 (tested up to 4.3.0)
mpi:
  - openmpi # [linux]
  - mpich =4.0.3 # [osx]
  - msmpi =10.1.1 # [win]

channel_targets:
  - conda-forge rc
